@import "../.import/fonts"
@import 'jeet'
@import 'nib'
global-reset()
reset-html5()

/*Mixin to remove underlines
  *and blue color from links
  *'a', for print and PDF
*/
no_deco() //no decoration for a
  a
    text-decoration none
    color inherit

rel() //short hand for position relative
  position relative

//section package
pac()
  font 0.9em $pac_font
  font-weight bold

addressPos(shiftValue, textAlign) //common property for address
  span(1/2)
  shift(shiftValue, span)
  text-align textAlign

em
  font-style italic
  font-weight italic

// Set the body margin for readability
body
  margin 2.5em
  font 100% $body_font

.container
  margin 1em 0em 1em 0em
  min-width = 400px
  min-height = 400px

h1
  font 2em $big_font
  line-heigh 1.5em

//Article CV - the main part of the Cv starts here

article.cv
  //edit()
  no_deco()
  center(max-width = 800px)
  font 100% $body_font
  line-height 1.45em
  margin 1em auto

//The CV header
section.cvHeader
  #name
    text-align center
    font 1.5em $big_font
    margin 1% 0% 3% 0%
  #address_right
    addressPos(1/2, right)
  #address_left
    addressPos(-1/2, left)

//Header for sections i.e. experience, education

//General styling for sections
section
  rel()
  span(1/1)

.secName
  span(1/1)
  margin-top 0.2em
  font 1.3em $sec_font
  color #009999

.secHeader
  span(1/1)
  margin-top 0.8em
  border-bottom 1px solid #bbbbbb

.title
  span(8/10)
  pac()

/*Duration is how long the employment
  or the education etc. lasted
  expressed in year
*/

.duration
  span(2/10)
  font 0.85em $mono_font
  color #666666

  //mixin for the duration section
  durationStyle(spanSize, align)
    span(spanSize)
    text-align align

  .start
    durationStyle(2/5,left)
  .hyphen
    durationStyle(1/5,center)
  .end
    durationStyle(2/5,right)

.where
  pac()
  text-transform uppercase

.desc, .course
  span(1/1)
  rel()
  //show line break
  white-space pre-line
  margin-top 0.4em
  margin-left 1em
  text-align left

//footer
footer
  span(1/1)
  center(max-width = 800px)
  font 0.5em $pac_font

//input form
form
  span(1/1)
  margin-top 2em

//edit mode styling
//Edit mode elements are hidden by default
//click edit button to toggle show/hide edit elements
.editable
  cursor text
.editMode, .ui.icon.green.message.editInfo
  display none

.ui.card
  rel()
  center
