template(name='myBlogIndex')
  .ui.raised.segment.blog
    h1.ui.header  Ryuei's blog
      
    +blogIndex

    if currentUser
      .ui.green.button
        a(href='/admin/blog')
          i.write.square.icon
          |Edit blog
