//blog posts style
.blog-list
  .container
    span(1/1)
    center(max-width = 800px)
    margin 1em

.container
  .ui.raised.segment.blog
    span(1/1)
    margin 1em

    .ui.header
      font 5em mono_font()
      rel()
      margin 0 0 0 1em

    .ui.button
      rel()
      margin 0 0 0 1em
