template(name='myShowBlog')
  .ui.raised.segment.blogPost
    +blogShow
    +disqus this
    if currentUser
      .ui.button
        a(href='/admin/blog')
          i.write.square.icon
          | Edit blog
      
