template(name='about')
  .container
    h1 CV Made Easy!
    p
      |This app helps you create beautiful CV. It allows you to forget
      |the hassle of formatting (like with ** Words). Not supported at
      |the moment but the app will let you customise and manage
      |different versions of CV for different typs of jobs. The
      |ultimate aim is to simplify job application processes. This app
      |is developed using
      a(href='http://meteor.com') Meteor
      |: an awesome fullstack framework.

  .ui.card
    .image
      img(src='ryu.jpg')
    .content
      a(href='/cv').header Developer: Ryuei
      .meta
        span.date Started 2014
      .description
        | Aspiring Meteor developer, Musician, Sustainability enthusiast, Translator etc.
