template(name='input')
  if currentUser and owner
    form(class='new editMode')
      .input-group
        input(class='form-control' type='text' name='title' placeholder='Type the title')
        input(class='form-control' type='text' name='start' placeholder='Start date')
        input(class='form-control' type='text' name='end' placeholder='End date')
        input(class='form-control' type='text' name='where' placeholder='Where?')
        textarea(class='form-control' type='text' name='desc' placeholder='Description' id='desc' class='editable')
        input(class='form-control' type='submit' value='submit')
                    
