template(name='menu')
  a(class="item {{activeIfTemplateIs 'cv'}}" href="{{pathFor 'cv'}}")
    i.book.icon
    | CV
  a(class="item {{activeIfTemplateIs 'cvBody'}}" href="{{pathFor 'cvBody'}}")
    i.book.icon
    | CV re
  a(class="item {{activeIfTemplateIs 'about'}}" href="{{pathFor 'about'}}")
    i.info.icon
    | About
  a(class="item" href="/blog")
    i.cube.icon
    | Blog
