//-experience template
//This looks quite repetitive, perhaps additional refactoring is needed
template(name='cvBody')
  .section(name='cvBody')
    //Input field for cv data input
    +input
  
    .secName EXPERIENCE
    //Calling the data retrieved by the experiences – Meteor collection – function defined in template.experience.helpers
    each experience
      +cvFields
    
    .secName Education
    each education
      +cvFields
    
    .secName Languages
    each languages
      +cvFieldsSkills
    
    .secName Skills
    each skills
      +cvFieldsSkills
    
    .secName Awards
    each awards
      +cvFieldsAwards
