@import url('http://fonts.googleapis.com/css?family=Raleway\:300')
@import url('http://fonts.googleapis.com/css?family=Open\+Sans')
@import url('http://fonts.googleapis.com/css?family=Playfair+Display')
@import url('http://fonts.googleapis.com/css?family=Gilda\+Display')
@import url('http://fonts.googleapis.com/css?family=Ubuntu+Mono')

//Fonts variables
$big_font = 'Raleway',Cousine,Verdana,sans-serif
$sec_font = 'Open Sans'
$pac_font = 'Raleway','Open Sans',Cousine,Verdana,sans-serif
$body_font = 'Gilda Display',Times,serif
$mono_font = 'Ubuntu Mono', Melno, monospace, sans-serif
