//global reset
reset-html5()
global-reset()

em
  font-style italic
  font-weight italic

// Set the body margin for readability
body
  margin 2.5em
  line-height 1.5em
  font 18px $body_font
  //edit()

//menu
.pointing.menu
  position fixed
  top 0
  left 0
  // transition none
  // z-index 102


.ui.container
  margin 1em 0em 1em 0em
  min-width = 400px
  min-height = 400px

h1
  rel()
  font 2.5em $big_font
  line-height 1.5em

//footer
footer
  span(1/1)
  center(max-width = 800px)
  font 1em $pac_font

.icon
  font 14px

//edit mode styling
//Edit mode elements are hidden by default
//click edit button to toggle show/hide edit elements
.editable
  cursor text
.editMode, .ui.icon.green.message.editInfo
  display none

.ui.card
  rel()
  center
