template(name='about')
  .ui.container
    h1 CV Made Easy!
    .ui.raised.segment
      p
        |This app helps you create beautiful CV easily. It allows you to forget
        |the hassle of formatting (like with ** Words).
        br
        |This app is still under development so many features are still to be added. 
        br
        | Not supported at the moment but the app will let you   
        | customise and manage different versions of CV for various
        | purposes. The aim is to simplify the processes for job search and job applications.
        br
        |  This app
        |is developed using
        a(href='http://meteor.com') Meteor
        |, an awesome fullstack framework.
      br
      p.
        Planned features are...
      .ui.bulleted.list
        .item Multiple CV creation and management
        .itme Multiple user support
        .item Markdown support
        .item ...
          
    .ui.card
      .image
        img(src='ryu.jpg')
      .content
        a(href='/cv').header Developer: Ryuei Sasaki
        .meta
          span.date Started coding the summer 2014
        .description
          | Aspiring Web/Meteor developer, Musician, Cellist, M.Sc. Sustainability science, Translator, Hobbyist photographer
