template(name='footer')
  .ui.divider
    
  footer.footer
    .ui.center.aligned.stacked.segment
      p Developed by Ryuei Sasaki
      p Send him some 
        a(href='mailto:ryuei.sasaki@gmail.com')
          i.heart.icon
      a(href='https://github.com/louixs'): i.github.icon
      a(href='https://twitter.com/ryueisasaki'): i.twitter.icon
      br
      | © 2015 Ryuei Sasaki
