//-experience template
//This looks quite repetitive, perhaps additional refactoring is needed
template(name='cvBody')
  .section(name='cvBody')
    .secName
      i.world.icon
      | Experience
    //Calling the data retrieved by the experiences
    //– Meteor collection – function defined in
    //template.experience.helpers
    each experience
      +cvFields
    
    .secName
      i.book.icon
      | Education
    each education
      +cvFields
    
    .secName
      i.comments.outline.icon
      | Languages
    each languages
      +cvFieldsSkills
    
    .secName
      i.archive.icon
      | Skills
    each skills
      +cvFieldsSkills
  
    .secName
        i.trophy.icon
        | Awards
      each awards
        +cvFieldsAwards
    
    .secName
      i.gift.icon
      | Interests
    each interests
      +cvFieldsSkills
