template(name='cvFieldsAwards')
  .set
    .secHeader
      .title: p #{title}
      .duration: p
        .ui.purple.right.ribbon.label
          .awards.end: p #{end}
    .desc: p #{desc}  
  +hideRemoveBtn
