//- head template    
template(name='cvHeader')
  section.cvHeader
    #name Ryuei Sasaki
    
    //#address_right: ul
      li: a(href='http://ryueisasaki.com') ryueisasaki.com
      li: a(href='http://linkedin.com/in/ryuei') linkedin.com/in/ryuei
  //
    #address_left: ul
      li 07759 361 369
      li ryuei.sasaki@gmail.com
