template(name='editInfo')
  //Semantic UI 
  //Displays message relevant to editing and updating CV
  
  .ui.icon.green.message.editInfo
    i.info.circle.icon
    .content
      p 
        | Click on the text you want to edit. Press Enter to save.
        | Click the 'Finish Edit' button on right top when you are done. That's it! Simple huh?
    
    
