template(name='editButton')
  //button
  .ui.edit.blue.button
    i.edit.icon 
    | Edit CV
  
  //modal components
  .ui.long.edit.modal
    i.close.icon
    .header
      | Editing your CV
    .ui.icon.green.message
      i.info.circle.icon
      .content 
        | Click on the text you want to edit. Press Enter to save and finish editing.
        | Click on X to delete the entry
        | Click on eye shaped icon to hide
        | That's it! Simple huh?
    .actions
      .ui.button Got it...
      
      
