template(name='inputFields')
  form(class='ui form' method='POST')
    .field
      label Title
      input(type='text' name='title' placeholder='Type the title')
    .two.fields
      .field
        label 
          | Start date
        input(type='text' name='start' placeholder='Start date; if appropriate, only year.')
      .field
        label 
          | End date
        input(type='text' name='end' placeholder='End date; if not applicable leave it blank')
    .field
      label 
        | Where
      input(type='text' name='where' placeholder='Where? i.e. place')
    .field
      label 
        | Description
      textarea(type='text' name='desc' placeholder='Description; or list of languages, skills' id='desc')
    .field
      label 
        | Category
      input(type='text' name='category' placeholder='Category? e.g. experience, education, languages, skills, awards...')
    input(class='ui submit button' type='submit' value='Submit')
